body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    user-select: none;
    background-color: blanchedalmond;
}

.main-row {
    max-width: 90%;
    margin: 5% 5%;
}

.control-element {
    text-align: center;    
}

.control-button {
    width: 100px;
    height: 100px;
}

.control-button:hover {
    color: white;
}

.controls {
    margin-top:10%;
    max-width: 60%;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: space-between;
}

.answer-items {
    font-weight: bold;
}

table {
    margin: 5%;
    width: 100%;
    font-size: 1.5rem;
}

th, td {
    text-shadow: 1px 1px gray;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}   

tbody tr:hover {
    background-color: rgb(205, 184, 153);
}

h1 {
    text-shadow: 2px 2px gray;   
}

h2 {
    text-shadow: 1.5px 1.5px gray;   
}

h5 {
    text-shadow: 1px 1px gray;  
}

.team-buttons {
    position: absolute;
    bottom: 0;
    margin: 0 0 1% 0;
    height: 175px;
    max-width:none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.team-button {
    flex: 1;
    margin: 0 1%;
    display: flex;
}

.team-label {
    font-size: 4rem;
    margin: auto;
}

.team-points {
    margin: auto 0;
    font-size: 4rem;
    opacity: 0.75;
}

.x-icons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}